<div class="inner">
  <h3 class="masthead-brand"><a href="/" style="text-decoration: none !important;">Reader</a></h3>
  <!-- <nav class="nav nav-masthead justify-content-center">
  <a class="nav-link active" href="/">Home</a>
  <a class="nav-link" href="/signup">Sign Up</a>
  <a class="nav-link" href="/login">Login</a>
</nav> -->
</div>